@use "../base/mixins";

#all-news-container{
    top: var(--header_height);
    width: 100%;
    height: calc(100vh - var(--header_height) - var(--footer_height));
    // @include mixins.atDesktop{
    //     height: 78%; 
    //     top: 7.3rem; 
    // }
    // width: 95%; 
    // left: 2.5%; 
    background-color: var(--single-container_background-color);
    position: absolute;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100%;
        @include mixins.atDesktop{
            grid-template-columns: 66% 34%;
        }
    color: var(--single-container_color);
    #filter-sort-toggle{
        display: block;
        @include mixins.atDesktop{
            display: none;
        }
    }
    button{
        color: var(--single-container-button_color);
    }
    #media-container, #filters-and-sorting-container, #selected-news-container{        
        position: relative;
    }
    #filters-and-sorting-tabs{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 5%;
        top: 25%;
        button.activated{
            pointer-events: none;
        }
        @include mixins.atTablet{
            display: none;
        }
    }
    #filters-and-sorting-container.fade-in, #filters-and-sorting-container.fade-out{
        display: grid;
        grid-template-areas:"section section section"
                            "... resetAll ...";
        grid-template-rows: 90% 1fr;
        background-color: var(--flc_background-color);
        border-radius: 2%;
        box-shadow: .2rem .2rem 1rem .4rem inset var(--flc_box-shadow_color);
        position: fixed;
        width: 100%;
        height: calc(100% - var(--header_height) - var(--footer_height));
        @include mixins.atTablet{
            grid-template-rows: 43% 43% 1fr;
            grid-template-areas:"realtimeFiltersAndSorting realtimeFiltersAndSorting realtimeFiltersAndSorting"
                                "searchFilters searchFilters searchFilters"
                                "... resetAll ...";
        }
    }
    // #filters-and-sorting-container.fade-in.rfs, #filters-and-sorting-container.fade-out.rfs{
    //     grid-template-areas:"realtimeFiltersAndSorting realtimeFiltersAndSorting realtimeFiltersAndSorting"
    //                         "... resetAll ...";
    // }
    // #filters-and-sorting-container.fade-in.sf, #filters-and-sorting-container.fade-out.sf{
    //     grid-template-areas:"searchFilters searchFilters searchFilters"
    //                         "... resetAll ...";
    // }
    #filters-and-sorting-container.fade-in{
        animation: fadeOptionsIn .5s ease-in-out;
    }
    #filters-and-sorting-container.fade-out{
        animation: fadeOptionsOut .5s ease-in-out;
    }
    @keyframes fadeOptionsIn{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes fadeOptionsOut{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
    #filters-and-sorting-container{
        display: none;
        @include mixins.atDesktop{
            position: relative;
            display: grid;
            grid-template-areas:"realtimeFiltersAndSorting realtimeFiltersAndSorting realtimeFiltersAndSorting"
                                "searchFilters searchFilters searchFilters"
                                "... resetAll ...";
            border: .2rem solid var(--flc_border_color);
            border-left: none;
        }
        padding-left: 1.5rem;

        h2{
            font-size: 1.25rem;
            text-shadow: .1rem .1rem black;
            @include mixins.atDesktop{
                font-size: 1.5rem;
            }
        }
        h3{
            font-size: 1.1rem;
            display: flex;
            justify-content: flex-start;
            text-shadow: .1rem .1rem black;
        }
        button:not(.options-switch){
            padding: .2rem;
            box-shadow: .2rem .2rem 1rem .6rem var(--nav-li_box-shadow_color);
            border: .2rem solid var(--nav-li_border-bottom_color);
            background-color: rgba(var(--blackish-brown_2_trans_alt));
            border-radius: 8%;
        }
        button.activated{
            filter: none;
            text-shadow: .1rem .1rem black;
            color: rgb(var(--bright-gold));
            background-color: rgba(var(--trans-black_alt_2));
            box-shadow: .2rem .2rem .2rem inset var(--nav-li_box-shadow_color),  -.2rem -.2rem .2rem inset var(--nav-li_box-shadow_color);
            border: .2rem solid transparent;
        }
        button:not(.activated):focus:not(:focus-visible):not(:hover){
            filter: none;
            color: var(--single-container-button_color);
            box-shadow: .2rem .2rem 1rem .6rem var(--nav-li_box-shadow_color);
            border: .2rem solid var(--nav-li_border-bottom_color);
            background-color: rgba(var(--blackish-brown_2_trans_alt));
        }
        button:hover:not(.options-switch), button:focus:not(.options-switch){
            color: rgb(var(--muted-gold));
            text-shadow: .1rem .1rem black;
            background-color: rgb(var(--soft-brown));
            border: .2rem solid transparent;
            box-shadow: .2rem .2rem .2rem inset var(--nav-li_box-shadow_color),  -.2rem -.2rem .2rem inset var(--nav-li_box-shadow_color);
        }
        button.activated:focus:not(:focus-visible):not(:hover){
            filter: none;
            text-shadow: .1rem .1rem black;
            color: rgb(var(--bright-gold));
            background-color: rgba(var(--trans-black_alt));
            box-shadow: .2rem .2rem .2rem inset var(--nav-li_box-shadow_color),  -.2rem -.2rem .2rem inset var(--nav-li_box-shadow_color);
            border: .2rem solid transparent;
        }
        #word-start-only.inactive, button.inactive{
            pointer-events: none;
            background-color: rgba(var(--blackish-brown_2_trans));
            // border: none;
            box-shadow: none;
            border: .1rem solid rgba(#000, .05);
            box-shadow: .1rem .1rem .15rem inset rgba(var(--trans-black));
            border-radius: 0;
            span{
                color: var(--flc-button_inactive);
                // filter: brightness(60%);
            }
        }
        .options-switch{
            position: absolute;
            right: 2rem;
            top: 1.5rem;
            font-size: 2.4rem;
        }
        #realtime-filters-and-sorting, #search-filters{
            margin-top: .5rem;
        }
        #realtime-filters-and-sorting{
            grid-area: section;
            display: grid;
            row-gap: 1rem;
            grid-template-areas:"headingRFS" 
                                "orderBy"
                                "toggleType"
                                "filterDate";
            @include mixins.atTablet{
                grid-area: realtimeFiltersAndSorting;
                grid-template-areas:"headingRFS headingRFS" 
                                    "orderBy toggleType"
                                    "filterDate filterDate";
            }
            @include mixins.atDesktop{
                grid-area: realtimeFiltersAndSorting;
                grid-template-areas:"headingRFS headingRFS" 
                                    "orderBy toggleType"
                                    "filterDate filterDate";
            }
            width: 100%;
            
            // #filters-and-sorting-tabs{
            //     grid-area: rst;
            //     display: flex;
            //     flex-direction: column;
            // }
            h2{
                grid-area: headingRFS;
                font-size: 1.25rem;
                @include mixins.atDesktop{
                    font-size: 1.5rem;
                }
            }
            #order-by{
                grid-area: orderBy;
            }
            #toggle-type{
                grid-area: toggleType;
            }
            #filter-date{
                grid-area: filterDate;
                div{
                    ul{
                        display: flex;
                        // flex-direction: column;
                        gap: 3rem;
                    }
                }
            }
            ul{
                padding-left: .3rem;
                li{
                    margin-top: .5rem;
                }
            }
        }
        #search-filters{
            grid-area: section;
            display: grid;
            grid-template-areas:"headingSF headingSF headingSF" 
                                "newsSearch newsSearch newsSearch"
                                "caseSensitive caseSensitive ..."
                                "fullWordOnly wordStartOnly wordStartOnly"
                                "includeTitle includeDescription ...";
            // grid-template-rows: repeat(4, 4rem);
            // column-gap: .5rem;
            justify-items: baseline;
            @include mixins.atTablet{
                grid-area: searchFilters;
                align-content: space-around;
            }
            @include mixins.atDesktop{
                grid-area: searchFilters;
            }
            h2{
                grid-area: headingSF;
            }
            button{
                // text-align: left;
                // border: .2rem solid white;
                height: 50%;
                @include mixins.atTablet{
                    height: initial;
                }
            }
            #news-search-container{
                grid-area: newsSearch;
                display: flex;
                flex-direction: column;
                row-gap: .5rem;
                #news-search.inactive{
                    pointer-events: none;
                    background-color: var(--flc-search_inactive);
                }
                @include mixins.atDesktop{
                    flex-direction: row;
                    align-items: center;
                    margin-top: .5rem;
                }
            }

            #full-word-only{
                grid-area: fullWordOnly;
            }
            #word-start-only{
                grid-area: wordStartOnly;
            }
            #case-sensitive{
                grid-area: caseSensitive;
            }
            #include-title{
                grid-area: includeTitle;
            }
            #include-description{
                grid-area: includeDescription;
            }
        }
        #search-filters.hidden, #realtime-filters-and-sorting.hidden{
            display: none;
        }
        button, select, label{
            font-size: 1rem;
            @include mixins.atDesktop{
                font-size: 1.15rem;
            }
        }
        select{
            margin-top: .7rem;
        }
        label{
            margin-right: .5rem;
        }
        #reset-container{
            grid-area: resetAll;
            display: grid;
            align-items: center;
            justify-items: center;
            #reset-all{
                font-size: 1.25rem;
                // height: 85%;
                @include mixins.atTablet{
                    font-size: 1.35rem;
                    padding: .35rem;
                }
                @include mixins.atDesktop{
                    font-size: 1.4rem;
                }
            }
        }
        button{
            cursor: pointer;
        }
    }
    #selected-news-container{
        overflow: auto;
        display: grid;
        // grid-template-rows: 14% 1fr;
        // grid-template-columns: 93% 1fr;
        // grid-template-areas:"tao ph"
        //                     "snr ph";
        grid-template-rows: 14% 80% 1fr;
        grid-template-areas:"tao"
                            "snr"
                            "ph";
        grid-template-columns: 100%;
        @include mixins.atDesktop{
            grid-template-rows: 10% 84% 6%;
            grid-template-areas:"tao"
                                "snr"
                                "ph";
            grid-template-columns: 100%;
        }
        border: .2rem solid var(--snc_border_color);
        #titleAndOptions{
            grid-area: tao;
            display: grid;
            // grid-template-columns: [mh]80% [os]10% [ds]10%;
            grid-template-columns: [mh]75% [os-ds]1fr;
            // grid-template-areas: "mh os ds";
            grid-template-areas: "mh os-ds";
            @include mixins.atDesktop{
                grid-template-columns: [mh]90% [os-ds]1fr;
                grid-template-areas: "mh os-ds";
            }
            border-bottom: .3rem solid var(--tao_border_color);
            #main-header-container{
                grid-area: mh;
                display: flex;
                justify-content: center;
                #main-header{    
                    //have diff font-size based on sentence length or least have a class that is only on for main header, so can be prominent(1.75rem)
                    font-size: calc(1.5rem - var(--adjusted-font-size));
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: center;
                    @include mixins.atDesktop{
                        font-size: 1.9rem;
                    }
                }
                button{
                    cursor: pointer;
                    font-size: 1.2rem;
                    @include mixins.atTablet{
                        font-size: 1.7rem;
                    }
                }
                button.dismissed{
                    pointer-events: none;
                    display: none;
                }
            }
            #mobile-options-dismiss{
                grid-area: os-ds;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: .2rem solid var(--snc_border_color);
                border-bottom: none;
                border-top: none;
                @include mixins.atDesktop{
                    border: none;
                }
            }
            .options-switch, #dismiss-selection{
                height: 50%;
                font-size: 1.2rem;
                box-shadow: .4rem .4rem .45rem .1rem inset rgba(var(--trans-black));
                background-color: rgba(var(--blackish-brown_1_trans));
                @include mixins.atDesktop{
                    font-size: 1.2rem;
                    border: .2rem solid var(--snc_border_color);
                    box-shadow: none;
                    background-color: transparent;
                }
                cursor: pointer;
            }
            .options-switch:hover, #dismiss-selection:hover, .options-switch:focus, #dismiss-selection:focus{
                    filter: brightness(70%);
            }
            .options-switch:not(.inactive), #dismiss-selection:not(.dismissed){
                text-shadow: .15rem .15rem black;
            }
            .options-switch{
                grid-area: os;
                border-bottom: .1rem solid var(--snc_border_color);
                // @include mixins.atDesktop{
                //     border: none;
                // }
                @include mixins.atDesktop{
                    display: none;
                }
                &.inactive{
                    opacity: 0;
                    pointer-events: none;
                }
            }
            #dismiss-selection{
                grid-area: ds;
                border-top: .1rem solid var(--snc_border_color);
                @include mixins.atDesktop{
                    border: none;
                }
                &.dismissed{
                    opacity: 0;
                    pointer-events: none;
                }
            }
        }
        
        #selected-news-reciever{
            grid-area: snr;
            margin-bottom: .5rem;
            // padding-right: 2rem;
            overflow: auto;
            ul{
                padding: 0 1.5rem;
                // width: 100%;
            }
        }
        // #full-display-container{
        //     padding-left: 2rem;
        // }
        #main-display, #full-display-container{
            &.dismissed{
                display: none;
                pointer-events: none;
            }
            .news{
                font-size: 1.15rem;
                @include mixins.atDesktop{
                    font-size: 1.2rem;
                }

                padding-top: 0;
                &::after{
                    content: " ";
                    display: block; 
                    height: 1rem; 
                    clear: both;
                }
                img, iframe{
                    float: left;
                    margin-right: 3%;
                    width: 10rem;
                }
                p{
                    line-height: 1.6rem;
                    @include mixins.atDesktop{
                        line-height: 1.2rem;
                    }
                }
                iframe{
                    width: 150px;
                    height: 100px;
                }
            }
            ul{
                li{
                    list-style-type: circle;
                    .see-more-link{
                        text-decoration: underline;
                        @include mixins.atTablet{
                            font-size: 1.05rem;
                        }
                    }
                    .see-more-link:hover, .see-more-link:focus{
                        text-decoration: none;
                        filter: brightness(70%);
                    }
                    .see-more-link, .relationship-link{
                        cursor: pointer;
                    }
                    .see-more-link.dismissed, .relationship-link.dismissed{
                        display: none;
                    }
                }
            }      
        }
    }
    #filters-and-sorting-container{
        padding-top: 1rem;
    }
    #pagination-holder{
        grid-area: ph;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        border-left: .2rem solid var(--pagination-holder_border_color);
        // @include mixins.atDesktop{
            display: block;
            width: 100%;
            border: none;
        // }          
        &.dismissed{
            display: none;
            pointer-events: none;
        }
        .content-pages{
            display: flex;
            align-items: center;
            justify-content: center;
            // flex-direction: column;
            // @include mixins.atDesktop{
                flex-direction: row;
            // }
                a{
                    cursor: pointer;
                    font-size: 1.3rem;
                    margin-left: .5rem;
                }
                a.hidden, a.selectedPage{
                    pointer-events: none;
                }
                a.hidden{
                    opacity: 0;
                }
        }
    }
}

#mobile-typing-container{
    display: none;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--mtc_background-color);
    height: calc(100vh - var(--header_height) - var(--footer_height));
    margin-top: var(--header_height);
    width: 100%;
    position: fixed;
    top: 0;
    div{
        width: 50%;
        display: flex;
        justify-content: center;
        column-gap: 1rem;
        align-items: center;
        margin-bottom: .5rem;
        button, label{
            font-size: 1.2rem;
        }
        button{
            cursor: pointer;
            color: var(--mtc-button_color);
        }
    }
}

#mobile-typing-container.opened{
    display: flex;
}

.options-switch{
    @include mixins.atDesktop{
        display: none;
    }
}

.news-search-field{
    font-size: 1rem;
    height: 1.7rem;
    width: 10rem;
    @include mixins.atTablet{
        font-size: 1.15rem;
        height: 2.3rem;
        width: 15rem;
    }
    @include mixins.atDesktop{
        font-size: 1.15rem;
        height: 2.3rem;
        width: 18rem;
    }
}

label{
    text-shadow: .1rem .1rem black;
}