@use "../base/mixins";

#all-news-container{
    height: 77%; 
    top: 8%; 
    @include mixins.atDesktop{
        height: 85%; 
        top: 9%; 
    }
    width: 95%; 
    left: 2.5%; 
    // border: 2px solid rgb(50, 50, 50); 
    background-color: rgba(37, 35, 34, 0.75);
    position: absolute;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100%;
        @include mixins.atDesktop{
            grid-template-columns: 66% 34%;
        }
    color: aliceblue;
    #filter-sort-toggle{
        display: block;
        @include mixins.atDesktop{
            display: none;
        }
    }
    button{
        color: antiquewhite;
    }
    #media-container, #filters-and-links-container, #selected-news-container{        
        position: relative;
        // height: 100%;
    }
    #filters-and-links-container.fade-in, #filters-and-links-container.fade-out{
        display: grid;
        background-color: rgba(51, 49, 47, .9);
        border-radius: 2%;
        box-shadow: .2rem .2rem 1rem .4rem inset rgba(37, 33, 30, 0.85);
        position: fixed;
        width: 80%;
        height: 80%;
        margin-left: 10%;
        grid-template-areas:"realtimeFiltersAndSorting"
                            "searchFilters"
                            "resetAll";
    }
    #filters-and-links-container.fade-in{
        animation: fadeOptionsIn 1s ease-in-out;
    }
    #filters-and-links-container.fade-out{
        animation: fadeOptionsOut 1s ease-in-out;
    }
    @keyframes fadeOptionsIn{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes fadeOptionsOut{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
    #filters-and-links-container{
        display: none;
        @include mixins.atDesktop{
            position: relative;
            display: grid;
            grid-template-areas:"realtimeFiltersAndSorting"
                                "searchFilters"
                                "resetAll";
            border: .2rem solid rgba(212, 193, 130, .4);
            border-left: none;
        }
        padding-left: 1.5rem;
        #realtime-filters-and-sorting{
            grid-area: realtimeFiltersAndSorting;
            display: grid;
            margin-top: 1.5rem;
            grid-template-areas:"headingRFS headingRFS" 
                                "orderBy toggleType"
                                "filterDate filterDate";
            // grid-template-columns: repeat(2, 300px);
            // column-gap: 30px;
            width: 100%;
            button, label{
                font-size: 1.6rem;
                @include mixins.atDesktop{
                    font-size: 1.3rem;
                }
            }
            button.inactive{
                pointer-events: none;
                span{
                    color: red;
                }
            }
            h2{
                grid-area: headingRFS;
            }
            #order-by{
                grid-area: orderBy;
            }
            #toggle-type{
                grid-area: toggleType;
            }
            #filter-date{
                grid-area: filterDate;
                div{
                    ul{
                        display: flex;
                        gap: 3rem;
                    }
                }
            }
            // div{
            //     width: 100%;
            //     margin-top: 1.5rem;
            // }
            // >div>ul{
            //     display: flex;
            // }
            // .realtime-options{
            //     justify-content: space-evenly;
            //     flex-direction: column;
            // }
            ul{
                padding-left: .3rem;
                li{
                    // list-style:disc;
                    margin-top: .5rem;
                }
            }
            // >*{
            //     margin-bottom: 2rem;
            // }
        }
        #search-filters{
            grid-area: searchFilters;
            display: grid;
            grid-template-areas:"headingSF headingSF headingSF" 
                                "newsSearch newsSearch newsSearch"
                                "caseSensitive fullWordOnly wordStartOnly"
                                "includeTitle includeDescription ...";
            // grid-template-columns: [newsSearch]20rem;
            h2{
                grid-area: headingSF;
            }
            button{
                font-size: 1.2rem;
                text-align: left;
            }
            #news-search-container{
                grid-area: newsSearch;
                #news-search{
                    font-size: 1.15rem;
                    height: 2.3rem;
                    width: 18rem;
                }
                #news-search.inactive{
                    pointer-events: none;
                    background-color: gray;
                }
            }

            #full-word-only{
                grid-area: fullWordOnly;
            }
            #word-start-only{
                grid-area: wordStartOnly;
            }
            #case-sensitive{
                grid-area: caseSensitive;
            }
            #include-title{
                grid-area: includeTitle;
            }
            #include-description{
                grid-area: includeDescription;
            }
            // #test{
            //     grid-area: test;
            // }
            #word-start-only.inactive, button.inactive{
                pointer-events: none;
                span{
                    color: red;
                }
            }
        }
        button, select, label{
            font-size: 1.1rem;
        }
        #reset-all{
            font-size: 1.4rem;
            grid-area: resetAll;
        }
        #reset-all.inactive{
            pointer-events: none;
            color: red;
        }
        button{
            cursor: pointer;
        }
        h3{
            font-size: 1.7rem;
        }
        h4{
            font-size: 1.5rem;
            margin-bottom: .8rem;
        }
    }
    #selected-news-container{
        overflow: auto;
        // width: 80%;
        // @include mixins.atDesktop{
        //     width: 66%;
        // }
        display: grid;
        grid-template-rows: 10% 84% 6%;
        border: .2rem solid rgb(180, 174, 164);
        #titleAndOptions{
            display: grid;
            grid-template-columns: [mh]80% [os]10% [ds]10%;
            grid-template-areas: "mh os ds";
            @include mixins.atDesktop{
                grid-template-columns: [mh]90% [ds]1fr;
                grid-template-areas: "mh ds";
            }
            border-bottom: .3rem solid rgb(185, 158, 122);
            #main-header{
                grid-area: mh;
                font-size: 2.3rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .options-switch, #dismiss-selection{
                font-size: 1.5rem;
                @include mixins.atDesktop{
                    font-size: 1.2rem;
                }
                cursor: pointer;
                border: .2rem solid rgba(212, 193, 130, 1);
                border-bottom: none;
                border-top: none;
            }
            .options-switch{
                grid-area: os;
                @include mixins.atDesktop{
                    display: none;
                }
                // &.dismissed{
                //     filter: contrast(20%);
                //     pointer-events: none;
                // }
            }
            #dismiss-selection{
                grid-area: ds;
                &.dismissed{
                    filter: contrast(20%);
                    pointer-events: none;
                }
            }
        }
        
        #selected-news-reciever{
            margin-bottom: .5rem;
            padding-right: 2rem;
            overflow: auto;
        }
        #full-display-container{
            padding-left: 2rem;
        }
        #main-display, #full-display-container{
            &.dismissed{
                display: none;
                pointer-events: none;
            }
            .news{
                font-size: 1.65rem;
                @include mixins.atDesktop{
                    font-size: 1.2rem;
                }

                padding-top: 0;
                &::after{
                    content: " ";
                    display: block; 
                    height: 1rem; 
                    clear: both;
                }
                img, iframe{
                    float: left;
                    margin-right: 2%;
                }
                p{
                    line-height: 1.2rem;
                }
                iframe{
                    width: 150px;
                    height: 100px;
                }
            }
            ul{
                li{
                    list-style-type: circle;
                    .see-more-link, .relationship-link{
                        cursor: pointer;
                    }
                    .see-more-link.dismissed, .relationship-link.dismissed{
                        display: none;
                    }
                }
            }      
        }
    }
    #filters-and-links-container{
        // width: 36%;
        padding-top: 1rem;
    }
    #pagination-holder{
        // position: absolute;
        // bottom: 0;
        width: 100%;
        // height: 10%;
        &.dismissed{
            display: none;
            pointer-events: none;
        }
        .content-pages{
            display: flex;
            align-items: center;
            justify-content: center;
            // border-top: 1px solid green;
                a{
                    cursor: pointer;
                    font-size: 1.9rem;
                    margin-left: .5rem;
                }
                a.hidden, a.selectedPage{
                    pointer-events: none;
                }
                a.hidden{
                    opacity: 0;
                }
                // a.selectedPage{
                //     color: rgb(101, 138, 180);
                //     filter: saturate(120%);
                // }
        }
    }
}

#mobile-typing-container{
    display: none;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(24, 23, 23, .9);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    div{
        width: 50%;
        margin-bottom: 5rem;
        display: flex;
        justify-content: center;
        column-gap: 1rem;
        align-items: center;
        input{
            font-size: 1.15rem;
            height: 2.3rem;
            width: 18rem;
        }
        button, label{
            font-size: 1.35rem;
        }
        button{
            cursor: pointer;
            color: antiquewhite;
        }
    }
}

#mobile-typing-container.opened{
    display: flex;
}

.options-switch{
    @include mixins.atDesktop{
        display: none;
    }
}