#footerContainer{
    background-color: rgb(39, 39, 39, .6);
    margin: 0;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: flex-end;
    padding-right: 2rem;
    color: ivory;
}