// I could nth to do the pattern styling diffs if keep exact one
@use "../base/mixins";

#welcomeContainer{
    position: absolute;
    text-align: center;
    align-items: center;
    margin-top: calc(var(--header_height)/2);
    @include mixins.atDesktop{
        margin-top: 2%;
    }
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    img{
        height: 6rem;    
    }
    div{
        text-shadow: 1px 1px black;
        width: 80%;
        @include mixins.atDesktop{
            width: 90%;
        }
        @include mixins.atDesktop{
            width: 70%;
        }
    }
}

// #openingContainer{
//     margin-bottom: var(--footer_height);
// }
.contentContainer{
    width: 100%;
    margin: 0;
    padding-top: var(--header_height);
    margin-top: var(--footer_height);
    // display: flex;
    // justify-content: center;
    >div{
        display: grid;
        @include mixins.atDesktop {
            width: 90%;
        }

        .titleAndTextBox, .contentBox{
            position: relative;
        }
        
        .titleAndTextBox{
            grid-area: titleAndTextBox;
            @include mixins.atDesktop{
                margin-right: 5%;
                display: grid;
                grid-template-rows: 60% 1fr;
            }
            .titleBox, .textBox{
                @include mixins.atDesktop{
                    width: 18rem;
                }
            }
            .titleBox{
                border: .2rem solid var(--dark-title-box_border_color);
                padding: 0 5%;
                background: transparent;
                @include mixins.atTablet{
                    padding: var(--title-box_padding);
                }
                @include mixins.atDesktop{
                    padding: 10%;
                }
                h2, h2 a{
                    font-size: 1.5rem;
                    @include mixins.atTablet{
                        font-size: var(--title-box-h2_text-size);
                    }
                    @include mixins.atDesktop{
                        font-size: 2rem;
                    }
                }
                p{
                    font-size: 1.15rem;
                    @include mixins.atTablet{
                        font-size: var(--title-box-p_text-size);
                    }
                    @include mixins.atDesktop{
                        font-size: 1.8rem;
                    }
                }
                >*{
                    height: 50%;
                    width: 100%;
                    margin: 0;
                }
                >:nth-child(2){
                    display: flex;
                    h2{
                        align-self: flex-end;
                        padding-bottom: 15%;
                    }
                }
            }
            .textBox{
                p{
                    margin: .5rem;
                    @include mixins.atTablet{
                        font-size: 1.2rem;
                    }
                    @include mixins.atDesktop{
                        font-size: 1.3rem;
                    }
                }
                //Put this on the right for tab landscape, like how i did in all news
                //Will switch on a lefty toggle with title and text box
                .content-pages{
                    // text-align: center;
                    // padding-left: .5rem;
                    p{
                        margin: .6rem 0;
                        font-size: 1.7rem;
                        @include mixins.atDesktop{
                            font-size: 1.5rem;
                        }
                    } 
                    a{
                        font-size: 1.75rem;
                    }
                }
            }
        }

        .contentBox{
            grid-area: contentBox;
            width: 100%;
            @include mixins.atDesktop{
                height: 100%;
            }    
        }

        .content-pages{
            grid-area: pagination;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
            // text-align: center;
            // padding-left: .5rem;
            @include mixins.atTablet{
                display: var(--pagination-container_display);
                flex-direction: column;
                justify-content: center;
            }
            @include mixins.atDesktop{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
            &-sub{
                position: sticky;
                top: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                @include mixins.atTablet{
                    position: var(--pagination_position);
                    flex-direction: var(--pagination_flex-direction);
                }
                @include mixins.atDesktop{
                    position: initial;
                    flex-direction: column;
                    justify-content: center;
                }
                p{
                    margin: .6rem 0;
                    font-size: 1.7rem;
                    @include mixins.atDesktop{
                        font-size: 1.5rem;
                    }
                } 
                a{
                    font-size: 1.3rem;
                }
                // .content-direction{
                //     writing-mode: vertical-lr;
                //     // text-orientation: upright;
                //     @include mixins.atDesktop{
                //         writing-mode: initial;
                //         // text-orientation: initial;
                //     }
                // }
            }
        }
    }
}


#propertiesContainer, #membersContainer{
    @include mixins.atDesktop{
        height: 50rem;
        min-height: initial;
        display: flex;
        padding-left: 5rem;
    }
    >div{
        grid-template-areas:"titleAndTextBox titleAndTextBox" 
                            "contentBox pagination";
        grid-template-columns: 83% 1fr;
        @include mixins.atTablet{
            grid-template-areas: var(--display-inner-container_grid-template-areas);
            grid-template-columns: var(--display-inner-container_grid-template-columns);
        }
        @include mixins.atDesktop{
            grid-template-areas:"titleAndTextBox contentBox pagination"; 
            grid-template-columns: 1fr 85% 5%;
            padding-top: .7rem;
        }
        .titleAndTextBox{
            @include mixins.atTablet{
                display: var(--titleAndTextBox_display);
            }
            // @include mixins.atDesktop{
            //     display: grid;
            // }
            // .titleBox{
            //     border: .35rem solid var(--title-box_border_color);
            // }
        }
        
        .contentBox{
            display: grid;
            grid-template-columns: repeat(2, 50%);
            justify-items: center;
            row-gap: 0.35rem;
            @include mixins.atTablet {
                grid-template-columns: var(--display-content-box_grid-template-columns);
            }
            @include mixins.atDesktop {    
                grid-template-columns: repeat(4, 25%);
            }
            .overall-squares{
                width: 90%; 
                @include mixins.atTablet{
                    width: var(--overall-squares_width);
                } 
                @include mixins.atDesktop{
                    width: 13rem;
                }   
                .displaySquares{
                    box-sizing: initial;
                    position: relative;
                    //when us backend, images will be set without this
                    // height: 340px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .interaction-prompt{
                        position: absolute;
                        background-color: var(--interaction-prompt_background-color);
                        padding: .2rem .2rem;
                        border-radius: 30%;
                        // font-size: 1.1rem;
                        height: var(--interaction-prompt_size);
                        width: var(--interaction-prompt_size);
                        opacity: .7;
                        .touch-prompt{
                            @include mixins.atDesktop{
                                display: none;
                            }
                        }
                        .hover-prompt{
                            display: none;
                            @include mixins.atDesktop{
                                display: block;
                            }
                        }
                    }
                    &-pageLinks{
                        position: absolute;
                        display: none;
                        flex-direction: column;
                        width: 100%;
                        text-align: center;
                        // opacity: 0;
                        a, i{
                            color: rgb(var(--whitish-gold));
                            cursor: pointer;
                            font-size: .9rem;
                            @include mixins.atDesktop{
                                font-size: 1.3rem;
                            }
                            margin-top: .7rem;
                        }
                        .fa-search-plus{
                            // align-self: center;
                            font-size: 1.4rem;
                            @include mixins.atDesktop{
                                font-size: 1.9rem;
                            }
                        }
                        a:hover, i:hover{
                            transform: scale(110%);
                            filter: brightness(200%);
                        }
                        i{
                            font-size: 1.4rem;
                        }
                    }
                    .displaySquares-pageLinks__visible{
                        display: flex;
                    }
                    div{
                        p, a{
                            margin: 2%;
                        }
                    }
                }
                .display-text{
                    margin-top: -.3rem;
                    text-align: center;
                    font-size: 1.05rem;
                    @include mixins.atDesktop{
                        font-size: 1.2rem;
                    }
                    display: flex;
                    flex-direction: column;
                    gap: .2rem;
                    p{
                        margin: 0;
                    }
                    p:nth-of-type(2){
                        font-weight: 700;
                    }
                }
            }  
        }
    }
    img{
        width: 100%; 
        height: 100%;
        margin-bottom: 1rem;
    }
    img.pageLinks__visible{
        filter: brightness(27%);
    }
}

#allNewsContainer, #contactContainer{
    background-color: var(--dark-content_background-color);
    color: var(--dark-content_color);
    .titleAndTextBox{
        margin-top: var(--header_height);
    }
    >div{
        // @include mixins.atTablet{
        //     height: calc(100vh - var(--header_height) - var(--footer_height));
        // }
        .contentBox{
            display: flex;
            justify-content: center;
            font-size: 1rem;
            @include mixins.atDesktop{
                font-size: 1.3rem;
            }
            h3{
                font-size: 1.5rem;
                @include mixins.atTablet{
                    font-size: var(--content-box-h3_font-size);
                }
                @include mixins.atDesktop{
                    font-size: 2.4rem;
                }
            }
            >div{
                // display: grid;
                @include mixins.atDesktop{
                    height: 100%;
                    width: 50%;
                }
                // padding-bottom: 1rem;
                >div{
                    overflow: auto;
                    @include mixins.atDesktop{
                        height: 92%;
                    }
                }
            }
            .form-message{
                height: auto;
            }
            h3{
                text-align: center;
                height: auto;
                padding: 1rem 0;
                @include mixins.atTablet{
                    padding-top: var(--content-box-h3_padding-top);
                }
                @include mixins.atDesktop{
                    height: 8%;
                    display: flex;
                    justify-content: center;
                    align-items: end;
                }
            }
            ul{
                padding: 0;
                li{
                    display: inline;
                }
            } 
            .news{
                margin: 0 1%;
                padding-top: 5%;
                height: auto;
                border: .1rem solid var(--news_border_color);
                .related-links{
                    display: flex;
                    margin-bottom: .7rem;
                    ul{
                        margin: 0;
                        margin-left: .4rem;
                    }
                    .related-link{
                        text-decoration: underline;
                        color: rgb(var(--whitish-gold));
                        font-size: 1.1rem;
                    }
                }
                &::after{
                    content: " ";
                    display: block; 
                    height: 1rem; 
                    clear: both;
                }
                
                p{
                    font-weight: 300;
                }
                img{
                    width: 9rem;
                    float: left;
                    margin-right: 2%;
                    cursor: pointer;
                    @include mixins.atDesktop{
                        width: 13rem;
                        margin-right: 2.5%;
                    }
                }
                p{
                    font-size: 1.1rem;
                    line-height: 1.2rem;
                    @include mixins.atDesktop{
                        font-size: 1.15rem;
                        line-height: 1.1rem;
                    }
                }
            }
            .news, form{
                padding: 0 1.5%;
                @include mixins.atDesktop{
                    padding: 0 5%;
                }
            }
            form{
                display: grid;
                padding: 0;
                padding-bottom: 2rem;
                column-gap: 1.2rem;
                grid-template-areas:"contactName"
                                    "contactEmail"
                                    "contactPhone"
                                    "contactSubject"                             
                                    "contactMessage"
                                    "submit";
                @include mixins.atTablet{
                    grid-template-areas: var(--form_grid-template-areas);
                }
                @include mixins.atDesktop{
                    column-gap: 1.6rem;
                    grid-template-areas:"contactName contactEmail"
                                        "contactPhone contactSubject"                             
                                        "contactMessage contactMessage"
                                        "submit ...";
                }

                #contact-name{
                    grid-area: contactName;
                }
                #contact-email{
                    grid-area: contactEmail;
                }
                #contact-phone{
                    grid-area: contactPhone;
                }
                #contact-subject{
                    grid-area: contactSubject;
                }
                #contact-message{        
                    grid-area: contactMessage;                
                }
            }
        }
    }
}

#allNewsContainer{
    // height: 62rem;
    @include mixins.atTablet{
        height: var(--all-news-container_height);
    }
    @include mixins.atDesktop{
        height: 50.5rem;
    }
    >div{
        grid-template-areas:"titleAndTextBox titleAndTextBox" 
                            "contentBox tabs";
        @include mixins.atTablet{
            height: var(--inner-container_height);
            grid-template-areas: var(--all-news-inner-container_grid-template-areas);
            grid-template-columns: var(--all-news-inner-container_grid-template-columns);
            grid-template-rows: var(--all-news-inner-container_grid-template-rows);
        }
        @include mixins.atDesktop{
            grid-template-areas:"titleAndTextBox contentBox" 
                                "titleAndTextBox contentBox" 
                                "titleAndTextBox contentBox";
            grid-template-columns: 1fr 90%;
            column-gap: 2rem;
        }
        .contentBox{
            height: 40rem;
            @include mixins.atTablet{
                height: var(--all-news-content-box_height);
                display: var(--all-news-content-box_display);
                grid-template-columns: var(--all-news-content-box_grid-template-columns);
                grid-template-rows: var(--all-news-content-box_grid-template-rows);
            }
            @include mixins.atDesktop{
                height: 40rem;
                display: flex;
            }
            >div.hidden{
                display: none;
            }
            .section{
                >div{
                    height: calc(96.5% - var(--header_height));
                    @include mixins.atTablet{
                        height: var(--news-column_height);
                    }
                    @include mixins.atTablet{
                        height: 100%;
                        overflow: auto;
                    }
                } 
            }
        }
        #news-type-tabs{
            grid-area: tabs;
            @include mixins.atTablet{
                display: var(--news-type-tabs_display);
            }
            @include mixins.atDesktop{
                display: none;
            }
            >div{
                position: sticky;
                top: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                button{
                    color: var(--section-tabs_color);
                    font-size: 1.1rem;
                }
                button.activated{
                    pointer-events: none;
                    color: var(--section-tabs-active_color);
                }
            }
        }
    }
}
// #contactContainer::before{
//     content: "";
//     width: 100%;
//     height: 40rem;
//     background-color: rgba(var(--trans-black));
//     display: block;
//     position: absolute;
//     top: 0;
//     z-index: 1;
// }
#contactContainer{
    background-image: url('/images/contact_darkened-overlay_darker.jpg');
    // height: var(--inner-container_height);
    // min-height: 36rem;
    margin-bottom: calc(var(--footer_height) + var(--header_height));
    // .container-overlay{
    //     @include mixins.atTablet{
    //         background-color: rgba(var(--trans-black));
    //     }
    // }
    @include mixins.atDesktop{
        height: 50.5rem;
    }
    >div{
        grid-template-areas:"titleAndTextBox" 
                            "contentBox";
        @include mixins.atTablet{
            // background-color: rgba(var(--trans-black));
            grid-template-areas: var(--contact-inner-container_grid-template-areas);
            grid-template-columns: var(--contact-inner-container_grid-template-columns);
            // grid-template-rows: 100%;
        }
        @include mixins.atDesktop{
            grid-template-areas:"titleAndTextBox contentBox";
            grid-template-columns: 1fr 90%;
        }
    }
    // #contact-info{
    //     grid-area: contactInfo;
    // }
}
#contactContainer{
    .contentBox{
        padding: 0 1rem;
        column-gap: 3rem;
        // img{
        //     display: none;
        //     @include mixins.atDesktop {
        //         display: initial;
        //         // width: 50%;
        //         margin-left: 0;
        //         display: none;
        //     }
        // }
        label.error{
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--form-error_color);
        }
        form{
            @include mixins.atDesktop{
                margin-top: 5%;
            }
            >div{
                margin-bottom: 5%;
            }
            label{
                font-size: 1.2rem;
                @include mixins.atDesktop{
                    font-size: 1.4rem;
                }
            }
            [type="radio"]{
                width: 10%;
                display: initial;
            }
            ul{
                padding: 0;
            }
            input, select, textarea{
                margin-top: .6rem;
                font-size: 1.1rem;
                @include mixins.atDesktop{
                    font-size: 1.2rem;
                }
            }
            input, select{
                display: block;
                margin-top: 2%;
            }
            input{
                // height: 2.5rem;
                width: 100%;
                @include mixins.atDesktop{
                    height: 1.6rem;
                }
            }
            select{
                // height: 2.6rem;
                @include mixins.atDesktop{
                    height: 2rem;
                }
            }
            textarea{
                width: 100%;
                height: 10rem;
                @include mixins.atTablet{
                    height: var(--textarea_height);
                }
                @include mixins.atDesktop{
                    height: 16rem;
                }
            }
            button{
                grid-area: submit;
                font-size: 1.2rem;
                color: rgb(var(--muted-gold));
                box-shadow: 0.2rem 0.2rem 1rem 0.6rem inset var(--nav-li_box-shadow_color);
                border: 0.25rem solid var(--nav-li_border-bottom_color);
                background-color: transparent;
                border-radius: 8%;
                padding: .9rem .7rem;
                justify-self: center;
                @include mixins.atTablet{
                    padding: .6rem .35rem;
                }
                @include mixins.atDesktop{
                    font-size: 1.3rem;
                }
                text-align: left;
            }
            button:hover{
                text-shadow: 0.1rem 0.1rem black;
                background-color: rgba(var(--trans-black));
                border: 0.25rem solid transparent;
                box-shadow: 0.4rem 0.4rem 0.2rem inset var(--nav-li_box-shadow_color), -0.4rem -0.4rem 0.2rem inset var(--nav-li_box-shadow_color), 0.3rem 0rem 0.5rem rgb(var(--muted-gold)), -0.3rem 0rem 0.5rem rgb(var(--muted-gold));
            }
        }
    }

    // #mobile-typing-container{
    //     .form-field-container_front{
    //         display: none;
    //     }
    //     .form-field-container_front.opened{
    //         display: block;
    //     }
    //     textarea{
    //         width: 100%;
    //         height: 18rem;
    //     }
    // }
}

#pop-up-display-box{
    background-color: var(--pup_background-color);
    top: var(--header_height);
    padding-top: .6rem;
    width: 100%;
    height: calc(100vh - var(--header_height) - var(--footer_height));
    overflow: auto;
    z-index: 110;
    position: fixed;
    display: grid;
    grid-template-areas:"img img img"
                        "prev more next";
    // grid-template-rows: 75% 1fr;
    justify-items: center;
    align-items: center;
    @include mixins.atDesktop{
        grid-template-areas:"prev img next"
                            "more more more";
    }
    img{
        width: 100%;
    }
    #image-holder{
        width: 17rem;
        @include mixins.atDesktop{
            width: 29rem
        }
        grid-area: img;
    }
    #prev-image{
        grid-area: prev;
    }
    #next-image{
        grid-area: next;
    }
    .more-info-link{
        grid-area: more;
    }
    a, button{
        align-self: baseline;
        font-size: 1.1rem;
        @include mixins.atDesktop{
            align-self: center;
            font-size: 1.8rem;
        }
    }
    #closeMagnify{
        position: absolute;
        right: .3rem;
        padding: 0;
        font-size: 3rem;
        @include mixins.atDesktop{
            font-size: 4.5rem;
            right: 1rem;
            top: 0;
        }
    }
    button{
        color: var(--pup-button_color);
        cursor: pointer;
    }
    button:hover, a:hover{
        filter: brightness(60%);
    }
    // #content-holder{
    //     display: flex;
    //     justify-content: space-evenly;
    //     position: relative;
    //     width: 70%;
    //     .pop-up-directional{
    //         font-size: 2.5rem;
    //     }
    // }
  }
  #pop-up-display-box.hidden{
      display: none;
  }

// #news-media-display{
//     background-color: rgba(44, 52, 77, 0.8);
//     height: 88vh;
//     width: 94vw;
//     overflow-y: auto;
//     overflow-x: hidden;
//     z-index: 110;
//     position: fixed;
//     top: 7vh;
//     left: 3vw;
//     display: none;
//     justify-content: space-around;
//     align-items: center;
//     flex-direction: column;
// }
