@use "../base/mixins";

#openingContainer{
    height: 99.5vh;
    position: relative;
    color: rgb(189, 189, 189);
    display: flex;
    justify-content: center;
    h1{
        font-size: 5.2rem;
        @include mixins.atDesktop{
            font-size: 6.5rem;
        }
    }
    p{
        font-size: 2.5rem;
        @include mixins.atDesktop{
            font-size: 2.7rem;
        }
        font-weight: 600;
    }
    #welcomeContainer{
        div    {
            // background-color: rgba(36, 36, 36, 0.5);
            // padding: 5%;
            text-shadow: 1px 1px black;

            width: 80%;
            @include mixins.atDesktop{
                width: 70%;
            }
        }
    }
    header{
        display: grid;
        grid-template-columns: [logoSymbol]4% [logoText]25% [navigation]1fr;
        grid-template-areas: "logoSymbol logoText navigation"; 
        grid-auto-flow: column;
        justify-self: end;
        @include mixins.atDesktop{
            grid-auto-flow: row;
            // grid-template-columns: 4% 25% 1fr; 
            grid-template-columns: [logoSymbol]4% [logoText]25% [navigation]1fr;
            grid-template-areas: "logoSymbol logoText navigation"; 
        }

        // grid-template-areas: 'logoText logoSymbol navigation';
        // grid-area: ;
        // background-color: black;
        // color: rgb(104, 104, 197);
        // background-color: rgba(230, 230, 230, .7);
        background-color: rgba(70, 62, 55, 0.85);
        box-shadow: .2rem .2rem 1rem .4rem inset rgba(49, 43, 39, 0.75);
        width: 100%;
        height: 6rem;
        @include mixins.atDesktop{
            height: 4rem;
        }
        position: fixed;
        top: 0;
        z-index: 9999;
        // display: flex;
        color: rgb(199, 187, 156);
        &.hidden{
            display: none;
        }
        button{
            font-size: 1.8rem;
            width: 10rem;
            cursor: pointer;
            i{
              display: inline;  
            }
        }
        // .header-search{
        //    position: absolute;
        // }
        // label{
            
        // }
        #logo-symbol, #logo-text{
            height: 3rem;
        }
        #logo-symbol{
            grid-area: logoSymbol;
            // grid-area: logoSymbol;
            margin-top: .3rem;
            padding-left: .5rem;
        }
        #logo-text{
            grid-area: logoText;
            // grid-area: logoText;
            margin-top: .6rem; 
            padding-left: .2rem;
        }
        img{
            height: 100%;
        }
        p, nav{
            margin: 0;
        }
        //change to mobile caller being button on nav, the rest hidden by overflow hidden

        nav{
            // display: none;
            position: relative;
            // padding: 1rem 1.2rem;
            // display: flex;
            justify-self: end;
            overflow: hidden;
            // height: 100%;
            @include mixins.atDesktop{
                // width: initial;
                // display: block;
                // position: initial;
                grid-area: navigation;
                background-color: transparent;
                overflow: visible;
                justify-self: unset;
            }
            // grid-area: navigation;
            margin-right: 2rem;
            ul{
                overflow: hidden;
                margin: 0;
                padding: 0;    
                // width: 100%;
                display: flex; 
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                @include mixins.atDesktop{
                    flex-direction: row;
                    gap: 1.5rem;
                    height: 100%;
                    justify-content: initial;
                }
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    background-color: rgba(70, 62, 55, 1);
                    box-shadow: .2rem .2rem 1rem .6rem inset rgba(49, 43, 39, 0.75);
                    border-radius: 5%;
                    // border-top: .3rem solid rgba(51, 45, 40, 0.85);
                    border-bottom: .3rem solid rgba(51, 45, 40, 0.85);
                    @include mixins.atDesktop{
                        box-shadow: none;
                        width: initial;
                        height: initial;
                        background-color: transparent;
                        border-radius: initial;
                        border: none;
                    }
                    a{
                      padding: .5rem 1rem;
                      font-size: 1.8rem; 
                        @include mixins.atDesktop{
                            padding: 0;
                        } 
                    }
                }
                // li:nth-of-type(2){
                //     border: none;
                // }
                #mobile-nav-caller{
                    // fix so adapts to height of bar, automatically
                    height: 6rem;
                    @include mixins.atDesktop{
                        height: 4rem;
                    }
                    box-shadow: none;
                    border: none;
                    background: transparent;
                    @include mixins.atDesktop{
                        display: none;
                    }
                    button{
                        color: aliceblue;
                    }
                    // justify-self: end;
                }
            }
        }
        nav.opened{
            overflow: visible;
        }
    }
    #pageImage{
        // display: none;
        // display: flex;
        // justify-content: center;
        // position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        img{
            height: 100%;
            width: 100%;
            filter: blur(.6rem) grayscale(50%);
        }
    }
    #welcomeContainer{
        position: absolute;
        text-align: center;
        align-items: center;
        margin-top: 1%;
        @include mixins.atDesktop{
            margin-top: 2%;
        }
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        img{
            height: 6rem;    
        }
    }
}