// I could nth to do the pattern styling diffs if keep exact one
@use "../base/mixins";
.titleBox{
    background: transparent;
    p{
        font-size: 1.95rem;
        @include mixins.atDesktop{
            font-size: 1.7rem;
        }
    }
}

.textBox{
    padding-left: .5rem;
    p{
        margin: .6rem 0;
        font-size: 1.7rem;
        @include mixins.atDesktop{
            font-size: 1.5rem;
        }
        color:white;
    }    
}

#propertiesContainer, #membersContainer{
    min-height: 58rem;
    @include mixins.atDesktop{
        height: 50rem;
        min-height: initial;
    }
    >div{
        .titleBox{
            border: .35rem solid rgb(199, 187, 156);;
        }
    }
    img{
        width: 100%; 
        height: 100%;
        margin-bottom: 1rem;
    }
    img.pageLinks__visible{
        filter: brightness(27%);
    }
}

#allNewsContainer{
    height: 62rem;
    @include mixins.atDesktop{
        height: 50.5rem;
    }
}

#contactContainer{
    height: 62.5rem;
    @include mixins.atDesktop{
        height: 50.5rem;
    }
}

#allNewsContainer, #contactContainer{
    background-color: rgb(31, 27, 21);
    color: white;
    >div{
        .titleBox{
            border: 4px solid rgb(221, 221, 221);
        }
        .textBox{
            p{
                color: antiquewhite;
            }
        }
    }
    .contentBox{
        display: flex;
        font-size: 1.6rem;
        @include mixins.atDesktop{
            font-size: 1.3rem;
        }
        >div{
            flex-basis: 50%;
            height: 100%;
            // padding-bottom: 1rem;
            >div{
                overflow: auto;
                height: 92%;
            }
        }
        .form-message{
            height: auto;
        }
        h3{
            text-align: center;
            height: 8%;
        }
        ul{
            padding: 0;
            li{
                display: inline;
            }
        } 
        .news{
            border: 1px solid rgba(233, 233, 233, .3);
            &::after{
                content: " ";
                display: block; 
                height: 1rem; 
                clear: both;
            }
            img{
                width: 13rem;
                float: left;
                margin-right: 2.5%;
                cursor: pointer;
            }
            p{
                font-size: 1.45rem;
                line-height: 1.4rem;
                @include mixins.atDesktop{
                    font-size: 1.25rem;
                    line-height: 1.2rem;
                }
            }
        }
        .news, form{
            padding: 0 5%;
        }
        form{
            display: grid;
            column-gap: 1.2rem;
            grid-template-areas:"contactName contactEmail"
                                "contactPhone contactSubject"
                                
                                "contactMessage contactMessage"
                                "contactMessage contactMessage"
                                "contactMessage contactMessage"
                                "contactMessage contactMessage"
                                "contactMessage contactMessage"
                                "contactMessage contactMessage"
                                "submit ...";

            #contact-name{
                grid-area: contactName;
            }
            #contact-email{
                grid-area: contactEmail;
            }
            #contact-phone{
                grid-area: contactPhone;
            }
            #contact-subject{
                grid-area: contactSubject;
            }
            #contact-message{        
                grid-area: contactMessage;                
            }
        }
    }
}

#contactContainer{
    background: black;
    color: white;
    .contentBox{
        column-gap: 3rem;
        // width: 50%;
        width: 85%;
        @include mixins.atDesktop{
            width: 70%;
        }
        display: flex;
        padding-bottom: 1rem;
        // > :first-child{
        //     border-right: 3px solid rgba(199, 195, 195, .4);
        // }
        // #generalInquiry{
        //     margin-right: 3rem;
        // }
        img{
            filter: saturate(120%);
            width: 45%;
            margin-left: 2rem;
            @include mixins.atDesktop {
                width: 50%;
                // width: 40%;
                // @include mixins.atDesktop{
                //     width: 50%;
                // }
                margin-left: 0;
            }
        }
        label.error{
            font-size: 1.5rem;
            font-weight: 700;
            color: rgb(120, 179, 158);
        }
        form{
            margin-top: 3rem;
            // display: flex;
            // flex-direction: column;
            >div{
                margin: 5% 0;
                margin-top: 0;
            }
            label{
                font-size: 1.4rem;
                @include mixins.atDesktop{
                    font-size: 1.4rem;
                }
            }
            [type="radio"]{
                width: 10%;
                display: initial;
            }
            ul{
                padding: 0;
            }
            input, select, textarea{
                font-size: 1.5rem;
                @include mixins.atDesktop{
                    font-size: 1.2rem;
                }
            }
            input, select{
                display: block;
                margin-top: 2%;
            }
            input{
                height: 2.5rem;
                @include mixins.atDesktop{
                    height: 1.6rem;
                }
            }
            select{
                height: 2.6rem;
                @include mixins.atDesktop{
                    height: 2rem;
                }
            }
            textarea{
                width: 100%;
                height: 20rem;
                @include mixins.atDesktop{
                    height: 16rem;
                }
            }
            button{
                grid-area: submit;
                color: ivory;
                font-size: 1.8rem;
                @include mixins.atDesktop{
                    font-size: 1.3rem;
                }
                text-align: left;
            }
        }
    }
}

.dot-pulse{
    top: 20%;
    left: 35%;
}

 
#pop-up-display-box{
    background-color: rgba(45, 41, 35, 0.8);
    width: 94vw;
    height: 87vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 110;
    position: fixed;
    top: 8vh;
    left: 3vw;
    display: none;
    // justify-content: space-evenly;
    row-gap: 1rem;
    align-items: center;
    flex-direction: column;
    padding-top: 2.5rem;
    img{
        width: 26rem
        // margin-top: 6vh;
    }
    a, button{
        font-size: 2rem;
    }
    button{
        color: antiquewhite;
        // border: .2rem solid black;
        cursor: pointer;
    }
    button:hover, a:hover{
        filter: brightness(72%);
    }
    #content-holder{
        display: flex;
        justify-content: space-evenly;
        position: relative;
        width: 70%;
        .pop-up-directional{
            font-size: 2.5rem;
        }
    }
  }

#news-media-display{
    background-color: rgba(44, 52, 77, 0.8);
    height: 88vh;
    width: 94vw;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 110;
    position: fixed;
    top: 7vh;
    left: 3vw;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#mobile-typing-container{
    .form-field-container_front{
        display: none;
    }
    .form-field-container_front.opened{
        display: block;
    }
    textarea{
        width: 100%;
        height: 18rem;
    }
}