//Use view width max to have all divs inside 
//adjust to laptop? 
@use "../base/mixins";
#singleContainer{
    // overflow: auto;
    height: calc(100vh - var(--header_height) - var(--footer_height));
    height: calc(100vh - var(--header_height) - var(--footer_height) - var(--browser-bar));
    // min-width: 96%;
    width: 100%;
    top: var(--header_height);
    display: grid;
    // grid-template-areas:"tabs"
    //                     "main"
    //                     "desc"
    //                     "updates";
    grid-template-areas:"tabs"
                        "section";
    grid-template-rows: [tabs]13% [section]1fr;
    justify-items: center;
    @include mixins.atTablet{
        height: calc(100vh - var(--header_height) - var(--footer_height));
    }
    @include mixins.atDesktop{
        //make more space for middle to allow img to be on the left of the list and shrink more in line
        grid-template-areas: "updates main desc";
        grid-template-rows: 100%;
        padding: 1.5rem 1rem;
        padding-bottom: 1rem;
    }
    // column-gap: 1rem;
    position: absolute;
    z-index: 1;
    background-color: var(--single-container_background-color);
    h4{
        font-size: 1.3rem;
        @include mixins.atTablet{
            font-size: 1.6rem;
        }
    }
    h3, h4, .related-link{
        color: var(--single-container-header_color);
    }
    .section{
        grid-area: section;
        overflow: auto;
        margin-top: .2rem;
        @include mixins.atTablet{
            margin-top: 1rem;
            margin-top: var(--section_margin-top);
        }
        @include mixins.atDesktop{
            grid-area: initial;
        }
    }
    #mainImageAndStats.hidden, #updates-col.hidden, #singleInfo.hidden{
        display: none;
    }
    .section-tabs{
        grid-area: tabs;
        margin: 1rem 0; 
        width: 100%;
        display: grid;
        grid-template-areas: "stats desc updates";
        // justify-content: space-evenly;
        @include mixins.atDesktop{
            display: none;
        }
        button{
            padding: .5rem 0;
            cursor: pointer;
            color: var(--section-tabs_color);
            font-size: 1.2rem;
            border: .17rem solid var(--section-tabs_border-color);
        }
        button:hover{
            filter: brightness(60%);
        }
        button.activated{
            pointer-events: none;
            color: var(--section-tabs-active_color);
        }
        #mainImageAndStats-tab{
            grid-area: stats;
        }
        #singleInfo-tab{
            grid-area: desc;
        }
        #updates-col-tab{
            grid-area: updates;
        }
        // button.active{
        //     color: ;
        // }
    }
    #mainImageAndStats{
        display: grid;
        grid-template-areas:"img"
                            "ul";
        grid-template-rows: [img]40% [ul]1fr;
        justify-items: center;
        @include mixins.atTablet{
            grid-template-areas:var(--mainImageAndStats_grid-template-areas);
            grid-template-rows:var(--mainImageAndStats_grid-template-rows);
            grid-template-columns:var(--mainImageAndStats_grid-template-columns);
        }
        @include mixins.atDesktop{
            grid-area: main;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        img{
            grid-area: img;
            height: 100%;
            @include mixins.atTablet{
                height: var(--mainImageAndStats-img_height);
            }
            @include mixins.atDesktop{
                height: 42%;
            }
        }
        ul{
            grid-area: ul;
            padding-left: 20%;
            font-size: 1.4rem;
            @include mixins.atDesktop{
                font-size: 1.5rem;
            }
            text-align: left;
            margin-top: 1rem;
            // display: flex;
            // flex-wrap: wrap;
            // column-gap: 2rem;
            // display: grid;
            // grid-template-columns: repeat(2, 50%);
            li{
                margin-top: .6rem;
                list-style-type: square;
                a{
                    filter: brightness(115%);
                }
            }
        }
    }
    #singleInfo{
        //perhaps display img thumbs next to the 'view gallery', horizantal on comp and portrait, and vert on landscape 
        width: 100%;
        // width: 70%;
        display: grid;
        grid-template-areas:'media'
                            'info';
        // --single-info_grid-template-rows: initial;
        // --single-info_grid-template-areas: 'info media';
        @include mixins.atTablet{
            //togglable to opposite side
            grid-template-areas: var(--single-info_grid-template-areas);
            grid-template-rows: var(--single-info_grid-template-rows);
        }
        @include mixins.atDesktop{
            grid-area: desc;
            grid-template-areas:'media'
                                'info';
        }
        p{
            font-size: 1.1rem;
            @include mixins.atDesktop{
                font-size: 1.4rem;
            }
            height: 99%;
        }
        .prop-info{
            padding: 0 1rem;
        }
        .prop-info{
            grid-area: info;
            margin: .7rem 0;
            overflow: auto;
            @include mixins.atTablet{
                margin-top: var(--prop-info_margin-top);
            }
        }
        .media-card{
            margin: 0 1rem;
            grid-area: media;
            //take out of flow and col on the side
            display: flex;
            // display: grid;
            // grid-template-columns: 15% auto-fit 1fr;
            column-gap: .5rem;
            // border: .1rem solid var(--section-tabs_border-color);
            @include mixins.atTablet{
                flex-direction: var(--media-card_flex-direction);
                row-gap: var(--media-card_row-gap);
                column-gap: var(--media-card_column-gap);
            }
            @include mixins.atDesktop{
                flex-direction: row;
                row-gap: .4rem;
                column-gap: .4rem;
            }
            button, #thumbnail-column{
                // border: .1rem solid var(--section-tabs_border-color);
                padding: .5rem;
            }
            button{
                background-color: rgba(var(--blackish-brown_1));
                box-shadow: .2rem .2rem .3rem inset rgba(22, 22, 22, 0.75), -.2rem -.2rem .3rem inset rgba(22, 22, 22, 0.75);
                @include mixins.atDesktop{
                    height: 50%;
                    align-self: center;
                }
            }
            button:hover, button:focus{
                // border-radius: 4%;
                color: rgb(var(--bright-gold));
                filter: none;
                background-color: rgb(var(--soft-brown));
                // box-shadow: .2rem .2rem .3rem rgba(22, 22, 22, 0.75), -.2rem -.2rem .3rem rgba(22, 22, 22, 0.75);
            }
            #thumbnail-column{
                display: flex;
                column-gap: .5rem;
                // align-items: center;
                @include mixins.atTablet{
                    flex-direction: var(--media-card_flex-direction);
                    row-gap: var(--media-card_row-gap);
                    column-gap: var(--media-card_column-gap);
                    // align-items: center;
                }
                @include mixins.atDesktop{
                    column-gap: .4rem;
                }
            }
            #additional-count{
                display: flex;
                align-items: center; 
                justify-content: center;   
                font-size: 1.6rem;
                letter-spacing: .45rem;
                font-weight: bold;
            }
            img{
                height: 3rem;
                box-shadow: .2rem .2rem .3rem inset rgb(151, 151, 151), -.2rem -.2rem .3rem inset rgb(151, 151, 151);
                padding: .5rem;
                border: .1rem solid var(--section-tabs_border-color);
                @include mixins.atTablet{
                    height: initial;
                    width: var(--thumb_width);
                }
                @include mixins.atDesktop{
                    height: 4rem;
                    width: initial;
                }
            }
        }
    }
    #vidAndImgCol{
        height: 100%;
        // width: 16vw;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        overflow: auto;
        overflow-x: hidden;
        text-align: center;
        h3{
            font-size: 1.9rem;
            margin: 1rem 0;
        }
    }

    #updates-col{
        position: relative;
        // height: 100%;
        overflow: auto;
        padding-left: 1rem;
        display: grid;
        grid-template-areas:"title"
                            "newsInfo"
                            "news"
                            "pagination";
        grid-template-rows: 8% auto 1fr 6.5%;
        @include mixins.atTablet{
            grid-template-rows: 8% 12% 1fr 4%;
        } 
        @include mixins.atDesktop{
            grid-area: updates;
            padding: 0 1rem;
        }
        h3{
            grid-area: title;
            font-size: 1.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            @include mixins.atTablet{
                font-size: var(--updates-col-h3_font-size);
            }
            @include mixins.atDesktop{
                font-size: 2rem;
            }
            a{
                font-size: 1.5rem;
                text-decoration: underline;
            }
            a:hover, a:focus{
                color: rgb(var(--bright-gold));
                filter: brightness(130%);
                text-decoration: none;
                text-decoration: 1px 1px solid black;
            }
        }
        #news-info-reciever{
            grid-area: newsInfo;
            margin-top: 1rem;
            // margin-bottom: .7rem;
            h4{
                margin: 0;
            }
            p{
                margin-top: .5rem;
                @include mixins.atTablet{
                    margin-bottom: 0;
                }
                @include mixins.atDesktop{
                    font-size: 2rem;
                }
            }
        }
        #news-reciever{
            grid-area: news;
            //use the floating/wrapping tehnique used in the other news things 
            overflow: auto;
            // margin: 1rem 0;
            @include mixins.atTablet{
                margin-top: 1.3rem;
            }
            p{
                font-size: 1.1rem;
                padding-right: 1rem;
                @include mixins.atTablet{
                    font-size: 1.4rem;
                    margin-top: 0;
                }
            }
            img{
                width: 85%;
                @include mixins.atTablet{
                    float: left;
                    margin-right: .8rem;
                    width: var(--updates-col-img_width);
                }
                @include mixins.atTablet{
                    width: 70%;
                    margin-bottom: .4rem;
                }
            }
        }
        #pagination-holder{
            grid-area: pagination;
            position: absolute;
            bottom:0;
            width: 100%;
            font-size: 1.3rem;
            display: flex;
            justify-content: center;
        }
    }
}