@use "../base/mixins";
#footerContainer{
    color: var(--footer_color);
    background-color: var(--footer_background-color);
    margin: 0;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    // text-align: center;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    .credit{
        font-size: 1.5rem;
        @include mixins.atDesktop{
            font-size: 1.2rem; 
        }
    }
    #social-container{
        color: var(--footer-symbols_color);
        a{
            font-size: 1.7rem;
            margin: 1rem;
            @include mixins.atDesktop{
                font-size: 1.3rem;
                margin: .65rem; 
            }
        }
    }
}