@use "../base/mixins";
#footerContainer{
    height: var(--footer_height);
    color: var(--footer_color);
    background-color: var(--footer_background-color);
    background-color: green;
    margin: 0;
    display: grid;
    position: fixed;
    bottom: 0;
    width: 100%;
    grid-template-areas:"additionalButtons additionalButtons"
                        "copyright social"
                        "creator creator";
    justify-items: center;
    align-items: center;
    @include mixins.atTablet{
        grid-template-areas: var(--footer_grid-template-areas);
    }
    @include mixins.atDesktop{
        grid-template-areas:"copyright social"
                            "creator creator";
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    p{
        margin: 0;
    }
    #additional-buttons-alt button{
        color: var(--footer_color);
    }
    .credit, #additional-buttons-alt button{
        font-size: 1rem;
        @include mixins.atTablet{
            font-size: var(--footer-p_font-size);
        }
        @include mixins.atDesktop{
            font-size: 1.2rem; 
        }
    }
    #credit-copyright{
        grid-area: copyright;
    }
    #credit-creator{
        grid-area: creator;
    }
    #social-container{
        grid-area: social;
        color: var(--footer-symbols_color);
        a{
            font-size: 1.4rem;
            margin: 1rem;
            @include mixins.atTablet{
                font-size: var(--footer-symbols_font-size);
            }
            @include mixins.atDesktop{
                font-size: 1.3rem;
                margin: .65rem; 
            }
        }
    }
}