@use "../base/mixins";
header{
    color: rgb(var(--muted-gold));
    display: grid;
    grid-template-columns: [logos]auto [additionalButtons]1fr [navigation]auto;
    grid-template-areas: "logos additionalButtons navigation"; 
    // grid-auto-flow: column;
    // justify-self: end;
    @include mixins.atTablet{
        grid-template-columns: [logos]auto [additionalButtons]1fr [navigation]auto;
        grid-template-areas: "logos additionalButtons navigation"; 
    }
    @include mixins.atDesktop{
        // grid-auto-flow: row;
        grid-template-columns: [logos]auto [additionalButtons]1fr [navigation]auto;
        grid-template-areas: "logos additionalButtons navigation"; 
    }
    background-color: var(--header_background-color);
    box-shadow: .2rem .2rem 1rem .4rem inset var(--header_box-shadow_color);
    width: 100%;
    height: var(--header_height);
    @include mixins.atDesktop{
        height: 4rem;
    }
    position: fixed;
    top: 0;
    z-index: 9999;
    // display: flex;
    &.hidden{
        display: none;
    }
    button{
        font-size: 1.5rem;
        @include mixins.atTablet{
            font-size: 1.8rem;
            font-size: var(--nav-button_font-size); 
        }
        cursor: pointer;
        i{
          display: inline;  
        }
    }
    // .header-search{
    //    position: absolute;
    // }
    // label{
        
    // }
    #logos-container{
        padding-left: .4rem;
        display: flex;
        align-items: center;
        column-gap: .3rem;
        grid-area: logos;
        @include mixins.atTablet{
            column-gap: .6rem;
        }
        #logo-symbol, #logo-text{
            height: calc(var(--header_height)*.65);
            @include mixins.atDesktop{
                height: calc(var(--header_height)*.75);
            }
        }
        #logo-symbol{
            grid-area: logoSymbol;
            margin-top: .3rem;
        }
        #logo-text{
            grid-area: logoText;
            margin-top: .6rem; 
        }
    }
    img{
        height: 100%;
    }
    p, nav{
        margin: 0;
    }
    //change to mobile caller being button on nav, the rest hidden by overflow hidden
    nav{
        position: relative;
        justify-self: end;
        overflow: hidden;
        @include mixins.atDesktop{
            grid-area: navigation;
            background-color: transparent;
            overflow: visible;
            justify-self: unset;
            margin-right: 2rem;
        }
        ul{
            overflow: hidden;
            margin: 0;
            padding: 0;    
            // width: 100%;
            display: flex; 
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            @include mixins.atDesktop{
                flex-direction: row;
                gap: 1.5rem;
                height: 100%;
                justify-content: initial;
            }
            li{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                background-color: var(--nav-li_background-color);
                box-shadow: .2rem .2rem 1rem .6rem inset var(--nav-li_box-shadow_color);
                border-bottom: .3rem solid var(--nav-li_border-bottom_color);
                border-radius: 5%;
                @include mixins.atDesktop{
                    box-shadow: none;
                    width: initial;
                    height: initial;
                    background-color: transparent;
                    border-radius: initial;
                    border: none;
                }
                a{
                    padding: .5rem .5rem;
                    font-size: 1.15rem;
                    @include mixins.atTablet{
                        padding: .5rem 1rem;
                        font-size: var(--nav-a_font-size); 
                    }
                    @include mixins.atDesktop{
                        padding: 0;
                } 
                }
            }
            #return-home,
            #mobile-nav-caller{
                height: var(--header_height);
                @include mixins.atDesktop{
                    height: 4rem;
                }
                box-shadow: none;
                border: none;
                background: transparent;
                @include mixins.atDesktop{
                    display: none;
                }
                button{
                    color: var(--nav-mobile_color);
                }
                // justify-self: end;
            }
        }
    }
    nav.opened{
        overflow: visible;
    }
}