@use "../base/mixins";
.media-card{
    button{
        color: rgb(var(--whitish-gold));
        cursor: pointer; 
        font-size: 1.2rem;  
        @include mixins.atTablet{
          font-size: var(--media-card_font-size);  
        }
        @include mixins.atDesktop{
            font-size: 1.4rem;  
          }
    }
    // background-image: url("../images/Logo_cracked2_mobile.png");
}

.media-card:hover, .property-media-card:hover, .media-card:focus, .property-media-card:focus{
    img{
        filter: brightness(50%);
        cursor: pointer;
    }
    #thumbnail-column{
        img{
            filter: none;
            cursor: initial;
        }
    }
    h3, p{
        filter: contrast(40%);
        cursor: pointer;
    }
    // *:not(#thumbnail-column){

    // }
}