// Do imports for tghis and js files near the end
@use "mixins";
html{
    overflow-x: hidden;
    // height: 85%;
    margin: 0;
    // script calc for this
    //use automatic container height for image group containers, if use calc?
    //Consider having js assign the font-size by doing 1.6% of vh, so there is a stable number assigned, rather than one that changes
    //on mobile when tying stuff in.
    //or base it on vw, as menu effect vertically, or least on tablet and phone
    
    //But would perhaps keep for laptops and up as changle is good for window resizes
    //And/or have a textbox pop-up for mobile that is the box, but moved or mirrors the value you type 
    @include mixins.atTablet {
        // font-size: 1.7vh;
        font-size: 1vw;
    }
    @include mixins.atDesktop {
        font-size: 1.85vh;
    }

    &.freeze{
        overflow: hidden;
    }
}

body{
    margin: 0;
    color: antiquewhite;
    height: 100%;
}

h1{
    margin: 0;
    margin-bottom: 3rem;
    font-size: 4rem;
}

h2{
    font-size: 2.5rem;
    margin: 0;
}

h3{
    font-size: 2.3rem;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

a{
    cursor: pointer;
}
a.hidden, a.selectedPage{
    pointer-events: none;
}
a.hidden{
    opacity: 0;
}
a.selectedPage{
    color: #e8aa77;
    filter: saturate(120%);
}

*.hidden{
    display: none;
    pointer-events: none;
}

div, button{
    box-sizing: border-box;
}

button{
    border: none;
    background: transparent;
}

li{
    list-style-type: none;
}

//Consider moving all below 
#overallContainer{
    position: relative;
    top: 0;
    // display: flex;
    // flex-direction: column;
    &.faded{
        filter: opacity(40%);
    }
}

//Consider sending to content container scss 
.contentContainer{
    // @include mixins.atTablet {
    //     height: 59.5rem;
    // }
    // @include mixins.atDesktop {
    //     height: initial;
    // }
    height: initial;
    // height: 100vh;
    width: 100%;
    margin: 4% 0;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    // align-items: center;
    &>div{
        @include mixins.atTablet {
            width: 95%;
        }
        @include mixins.atDesktop {
            width: 85%;
        }
        // margin: 0 auto;
        // height: 80%;
        display: flex;
        justify-content: center;
        // border: 2px solid rgb(131, 23, 23);
        // flex-wrap: wrap;
        padding-top: 5.5rem;
    }
    &_paginated{
        .textBox{
            .content-pages{
                text-align: center;
                a{
                    font-size: 1.75rem;
                }
            }
        }
    }
}

.titleAndTextBox, .contentBox{
    position: relative;
}

.titleAndTextBox{
    margin-right: 5%;
}

.titleBox, .textBox{
    height: 50%;
    width: 16rem;
}

.titleBox{
    padding: 10%;
    &>*{
        height: 50%;
        width: 100%;
        margin: 0;
    }
    &>:nth-child(2){
        display: flex;
        h2{
            align-self: flex-end;
            padding-bottom: 15%;
        }
    }
}

.contentBox.properties, .contentBox.members{
    display: grid;
    @include mixins.atTablet {
        grid-template-columns: repeat(3, 33.3%);
    }
    @include mixins.atDesktop {    
        grid-template-columns: repeat(4, 25%);
    }
    row-gap: .35rem;
}

.contentBox{
    width: 100%;
    height: 100%;

    // display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    &.properties> div, &.members> div{
        // margin: 0% 2%;    
        width: 14rem;
        // width: 210px;
        .displaySquares{
            box-sizing: initial;
            position: relative;
            //when us backend, images will be set without this
            // height: 340px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            .interaction-prompt{
                // width: 50%;
                text-align: center;
                position: absolute;
                // color: rgb(238, 231, 210);
                background-color: rgba(20, 20, 20, .7);
                padding: .2rem .2rem;
                margin-top: 7.6rem;
                border-radius: 30%;
                font-size: 1.5rem;
                .click-prompt{
                    @include mixins.atDesktop{
                        display: none;
                    }
                }
                .hover-prompt{
                    display: none;
                    @include mixins.atDesktop{
                        display: block;
                    }
                }
            }
            &-pageLinks{
                position: absolute;
                display: none;
                flex-direction: column;
                width: 100%;
                text-align: center;
                // opacity: 0;
                *{
                    color: rgb(238, 231, 210);
                    cursor: pointer;
                    font-size: 1.5rem;
                    @include mixins.atDesktop{
                        font-size: 1.3rem;
                    }
                    margin-top: .7rem;
                }
                .fa-search-plus{
                    font-size: 2rem;
                    @include mixins.atDesktop{
                        font-size: 1.4rem;
                    }
                }
                *:hover{
                    transform: scale(110%);
                    filter: brightness(120%);
                }
                i{
                    font-size: 1.4rem;
                }
            }
            .displaySquares-pageLinks__visible{
                display: flex;
            }
            div{
                p, a{
                    margin: 2%;
                }
            }
        }
        .display-text{
            margin-top: -.3rem;
            text-align: center;
            font-size: 1.3rem;
            display: flex;
            flex-direction: column;
            gap: .2rem;
            p{
                margin: 0;
            }
            p:nth-of-type(2){
                font-weight: 700;
            }
        }
    }

    .news{
        margin: 0 1%;
        padding-top: 5%;
        height: auto;

        iframe{
            width: 300px;
            height: 200px;
        }
    }
}