// Do imports for tghis and js files near the end
@use "mixins";
// put in dark moe slider or auto media query
:root{
    --trans-main: rgba(10, 10, 10, .98);
    --trans-black: rgb(39, 39, 39, .7);
    --trans-black_alt: rgb(33, 33, 33, .85);
    --off-white_trans: rgb(224, 224, 224, .4);

    --blackish-brown_1: rgba(70, 62, 55);
    --blackish-brown_1_trans: rgba(70, 62, 55, 0.95);
    --blackish-brown_2_trans: rgba(49, 43, 39, 0.75);
    --blackish-brown_2_trans_alt: rgba(51, 45, 40, 0.85);
    --soft-brown: rgb(100, 92, 82);
    --whitish-gold: rgb(255, 247, 212);
    --muted-gold: rgb(199, 187, 156);
    --bright-gold: rgb(197, 182, 116);
    // --silver: rgb(189, 189, 189);
    --off-white: rgb(224, 224, 224);
    --off-black: rgb(31, 27, 21);

    --header_color: var(--muted-gold);
    --header_height: 4rem;
    --header_background-color: var(--blackish-brown_1_trans);
    --header_box-shadow_color: var(--blackish-brown_2_trans);
    --nav-li_background-color: var(--blackish-brown_1);
    --nav-li_box-shadow_color: var(--blackish-brown_2_trans);
    --nav-li_border-bottom_color: var(--blackish-brown_2_trans_alt);
    --nav-button_font-size: 1.8rem;
    --nav-a_font-size: 1.2rem;
    --nav-mobile_color: var(--whitish-gold);
    
    --body_color: var(--whitish-gold);
    --body_background-color: var(--soft-brown);

    --interaction-prompt_background-color: var(--trans-main);
    --page-links: var(--off-white);

    --title-box_border_color: var(--muted-gold);
    --dark-title-box_border_color: var(--muted-gold);

    --dark-content_background-color: var(--off-black);
    --dark-content_color: var(--off-white);

    --news_border_color: var(--off-white_trans);

    --pup_background-color: var(--blackish-brown_1_trans);
    --pup-button_color: --off-white;

    --form-error_color: red;
    --form-button_color: var(--off-white);

    --opening-container-color: var(--off-white);

    --single-container_color: var(--off-white);
    --single-container_background-color: var(--blackish-brown_2_trans_alt);
    --single-container-button_color: var(--body_color);
    --single-container-header_color: var(--muted-gold);
    --section-tabs_color: var(--off-white);
    --section-tabs_border-color: var(--muted-gold);
    --section-tabs-active_color: var(--bright-gold);

    --flc_background-color: var(--blackish-brown_1_trans);
    --flc_box-shadow_color: var(--trans-black_alt);
    --flc_border_color: rgba(212, 193, 130, .4);
    --flc-button_inactive: red;
    --flc-search_inactive: gray;

    --tao_border_color: rgb(185, 158, 122);

    --snc_border_color: rgb(180, 174, 164);

    --pagination-holder_border_color: rgba(212, 193, 130, .4);

    --mtc_background-color: var(--trans-main);
    --mtc-button_color: var(--body_color);

    --footer_height: 5rem;    
    @include mixins.atDesktop{
        --footer_height: 4.5rem;
    }
    --footer_color: var(--whitish-gold);
    --footer_background-color: var(--trans-black);
    // --footer-p_font-size: 1rem; 
    --footer-symbols_color: var(--off-white);

    --pagination_color: var(--muted-gold);

    --a_selected: var(--bright-gold);

    --media-reciever_background-color: var(--trans-main);
    --media-reciever-category-link: var(--bright-gold);
    --media-reciever-information_color: var(--off-white);
    --media-reciever-close: var(--whitish-gold);  
    --current-media_width: 99vw;
    --play-button_color: rgba(99, 100, 179, .8);
    --play-button-inner_color: rgb(125, 150, 168);
}

.tabletLandscape, .tabletPortrait{
    // --base-font: 1.6vw;
    --h1_font-size: 3rem;

    --header_height: 4.5rem;
    --nav-button_font-size: 1.6rem;
    --nav-a_font-size: 1.3rem;

    --opening-container-p_font-size: 1.7rem;

    --all-news-container_height: 40rem;

    --display-inner-container_grid-template-areas:"titleAndTextBox contentBox pagination";
    --display-inner-container_grid-template-columns: 22% 71% 1fr;

    --inner-container_grid-template-areas: "titleAndTextBox contentBox";
    --inner-container_grid-template-columns: 20% 1fr;
    --inner-container_height: calc(100% - var(--header_height));

    --all-news-inner-container_grid-template-areas: var(--inner-container_grid-template-areas);
    --all-news-inner-container_grid-template-columns: var(--inner-container_grid-template-columns);
    --all-news-inner-container_grid-template-rows: 100%;

    --contact-inner-container_grid-template-columns: var(--inner-container_grid-template-columns);
    --contact-inner-container_grid-template-areas: var(--inner-container_grid-template-areas);

    --titleAndTextBox_display: grid;
    --title-box_padding: 6%;
    --title-box-p_text-size: 1.3rem;
    --title-box-h2_text-size: 1.6rem;

    --display-content-box_grid-template-columns: repeat(3, 33%);
    --content-box-h3_padding-top: 0;
    --content-box-h3_font-size: 1.8rem;

    --all-news-content-box_height: 100%;
    --all-news-content-box_display: grid;
    --all-news-content-box_grid-template-columns: repeat(2, 50%);
    --all-news-content-box_grid-template-rows: 100%;
    --news-type-tabs_display: none;
    --news-column_height: 100%;

    --contact-content-box_height: calc(100vh - var(--header_height) - var(--footer_height));

    --pagination-container_display: flex;
    --pagination_flex-direction: column;
    --pagination_position: sticky;

    --form_grid-template-areas:"contactName contactEmail"
                                "contactPhone contactSubject"                             
                                "contactMessage contactMessage"
                                "submit ...";
    --textarea_height: 9rem;

    --overall-squares_width: 80%;

    --section_margin-top: 0rem;

    --mainImageAndStats_grid-template-areas:"img ul";
    --mainImageAndStats_grid-template-rows: initial;
    --mainImageAndStats_grid-template-columns: repeat(2, 50%);
    --mainImageAndStats-img_height: initial;

    // --single-info_grid-template-rows: 15% 1fr;
    --single-info_grid-template-rows: initial;
    --single-info_grid-template-areas: 'info media';
    --prop-info_margin-top: 0;
    --media-card_font-size: 1.5rem;
    --media-card_column-gap: 0;
    --media-card_row-gap: .7rem;
    --media-card_flex-direction: column;
    --thumb_width: 8rem;

    --updates-col-h3_font-size: 1.8rem;
    --updates-col-img_width: 52%;

    --current-media_width: 70vw;

    --footer_height: 3rem;
    --footer-p_font-size: 1.1rem;
    --footer-symbols_font-size: 1.5rem;
    --footer_grid-template-areas:"copyright creator social";
}

.tabletPortrait{
    // --base-font: 2.4vw;
}

.phonePortrait{
    --current-media_width: 99vw;
}

html{
    overflow-x: hidden;
    // height: 85%;
    margin: 0;
    // script calc for this
    //use automatic container height for image group containers, if use calc?
    //Consider having js assign the font-size by doing 1.6% of vh, so there is a stable number assigned, rather than one that changes
    //on mobile when tying stuff in.
    //or base it on vw, as menu effect vertically, or least on tablet and phone
    
    //But would perhaps keep for laptops and up as changle is good for window resizes
    //And/or have a textbox pop-up for mobile that is the box, but moved or mirrors the value you type 
    @include mixins.atTablet {
        // font-size: 1.7vh;
        // font-size: var(--base-font);
    }
    @include mixins.atDesktop {
        font-size: 1.85vh;
    }

    &.freeze{
        overflow: hidden;
    }
}

body{
    margin: 0;
    color: var(--body_color);
    height: 100%;
    background-color: var(--body_background-color);
}

h1{
    margin: 0;
    margin-bottom: 3rem;
    font-size: 4rem;
}

h2{
    font-size: 2.5rem;
    @include mixins.atDesktop{
        font-size: 2.15rem;
    }
    margin: 0;
    a{
        font-size: 1.9rem;
    }
}

h3{
    font-size: 3rem;
    @include mixins.atDesktop{
        font-size: 2.5rem;
    }
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover{
    filter: brightness(70%);
}

a.selectedPage{
    pointer-events: none;
    color: var(--a_selected);
}

*.selected{
    filter: contrast(27%);
    pointer-events: none;
}

*.hidden{
    display: none;
    pointer-events: none;
}

div, button{
    box-sizing: border-box;
}

a.hidden{
    opacity: 0;
}

button{
    border: none;
    background: transparent;
    cursor: pointer;
}

li{
    list-style-type: none;
}

h1{
    font-weight: 700;
}

h2{
    font-weight: 400;
}

h1, h2, h3, h4{
    font-family: 'Libre Caslon Text', serif;
}

.content-pages{
    color: var(--off-white);
}

.textBox p, #relationship-link, #single-link{
    font-family: 'Libre Caslon Display', serif;
}

.display-text, #welcomeContainer p, .titleBox p, .contentContainer h3{
    font-family: 'Cormorant SC', serif;
}

body, input, button, .read-more, .news li a, header li a, #realtimeFiltersAndSorting button, 
#search-filters button, #reset-all, .news p, .see-more-link, #section-tabs button, .content-pages a, #news-type-tabs>div button{
    font-family: 'Lora', serif;
}

.required{
    color: rgb(250, 48, 48);
}